/* General formatting for font, display, and button of the pages */
* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  font-size: 20px;
  line-height: 2rem;
  box-sizing: border-box;
  padding: 10px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-content: center;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.homepage {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}

#begin,
#submit,
#back,
#clear {
  background-color: #594376;
  color: white;
  width: auto;
  border-radius: 10px;
  height: 35px;
  padding: 10px;
  line-height: 0;
}

.questions {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.options {
  width: 15%;
}

.options li {
  list-style-position: inside;
  background-color: #594376;
  margin: 2%;
  border-radius: 10px;
  color: white;
}

.finish,
.highscore {
  width: 50%;
  align-self: center;
  flex-direction: column;
}

#textbox {
  height: 35px;
}

[data-state="hidden"] {
  display: none;
}

[data-state="visible"] {
  display: flex;
}
